<h1>Editing electric car</h1>

<%= render "form", electric_car: @electric_car %>

<br>

<div>
  <%= link_to "Show this electric car", @electric_car %> |
  <%= link_to "Back to electric cars", electric_cars_path %>
</div>
